
body {
	
}

<<<<<<< HEAD
#section-0 {
  width: 100%;
  display: flex;
  box-sizing: border-box;
}
#left-side {
  width: 50%;
  text-align: left;
}

#right-side {
  width: 50%;
  text-align: right;
}

section.about{
	background: red;
=======
section.about{
	background-image: linear-gradient( 90deg, #2e2c7e,  #a3195b );
	height: 50px;
	display: flex;
	width: 100%;
	padding: 2em;
>>>>>>> 7a60491d5978ab39ee61918a13c47d0b9e76fdc7
}